{"op_in": {"param_def": [], "variables": {"seq_item": {"addr": "rand bit[31:0]", "data": "rand bit[15:0]"}, "itf": {"data1": "logic[3:0]", "data2": "logic[3:0]", "data_en": "logic"}, "seq": {}, "seqr": {}, "mon": {}, "agt": {}, "drv": {}, "adp": {}, "agt_cfg": {}, "agt_pkg": {}}, "common_or_unique": 1}}