{
    "rel_path": "dv/simulation/verif_env/ut/logic_op",
    "tb_name": "logic_op",
    "level": "ut",
    "has_rgm": true,
    "reg_model.name": "logic",
    "reg_model.driver": "svt_apb",
    "has_dut": true,
    "dut_top_name": "logic_op",
    "rtl_filelist": [
        "/home/kangyp/work/proj/design/logic_op/logic_op.f"
    ],
    "dut_inst_connect": {
        "clk": "`MERGE_ITF_NAME(logic_op, sys_clk.CLOCK)",
        "rst_n": "`MERGE_ITF_NAME(logic_op, sys_rst.RESET)",
        "pclk": "`MERGE_ITF_NAME(logic_op, apb_clk.CLOCK)",
        "presetn": "`MERGE_ITF_NAME(logic_op, apb_rst.RESET)"
    },
    "variable_list": {},
    "env_define": [
        ""
    ],
    "subsys": {},
    "base_env": "soc_top",
    "protocol": "ahb",
    "agents": {
        "op_in": {
            "param_def": [],
            "variables": {
                "seq_item": {
                    "addr": "rand bit[31:0]",
                    "data": "rand bit[15:0]"
                },
                "itf": {
                    "data1": "logic[3:0]",
                    "data2": "logic[3:0]",
                    "data_en": "logic"
                },
                "seq": {},
                "seqr": {},
                "mon": {},
                "agt": {},
                "drv": {},
                "adp": {},
                "agt_cfg": {},
                "agt_pkg": {}
            },
            "common_or_unique": 1
        },
        "svt_apb": {
            "param_def": [],
            "variables": {
                "seq_item": {},
                "itf": {},
                "seq": {},
                "seqr": {},
                "mon": {},
                "agt": {},
                "drv": {},
                "adp": {},
                "agt_cfg": {},
                "agt_pkg": {}
            },
            "common_or_unique": 1
        },
        "op_out": {
            "param_def": [],
            "variables": {
                "seq_item": {
                    "addr": "rand bit[31:0]",
                    "data": "rand bit[15:0]"
                },
                "itf": {
                    "data": "logic[3:0]",
                    "data_en": "logic"
                },
                "seq": {},
                "seqr": {},
                "mon": {},
                "agt": {},
                "drv": {},
                "adp": {},
                "agt_cfg": {},
                "agt_pkg": {}
            },
            "common_or_unique": 1
        }
    },
    "agents_inst": {
        "input": {
            "class_name": "op_in",
            "inst_num": 1,
            "param_def_value": [],
            "interface_connect": {
                "data1": [
                    "u_logic_op.in1",
                    "drive"
                ],
                "data2": [
                    "u_logic_op.in2",
                    "drive"
                ],
                "data_en": [
                    "u_logic_op.in_en",
                    "drive"
                ]
            },
            "clock_domain": "sys",
            "reset_domain": "sys"
        },
        "apb": {
            "class_name": "svt_apb",
            "inst_num": 1,
            "param_def_value": [],
            "interface_connect": {},
            "clock_domain": "sys",
            "reset_domain": "sys"
        },
        "output": {
            "class_name": "op_out",
            "inst_num": 1,
            "param_def_value": [],
            "interface_connect": {
                "data": [
                    "u_logic_op.out",
                    "monite"
                ],
                "data_en": [
                    "u_logic_op.out_en",
                    "monite"
                ]
            },
            "clock_domain": "sys",
            "reset_domain": "sys"
        }
    },
    "clocks": {
        "sys": [
            "100",
            "0"
        ],
        "apb": [
            "100",
            "0"
        ]
    },
    "resets": {
        "sys": [
            "100",
            "sys",
            "sys"
        ],
        "apb": [
            "100",
            "sys",
            "sys"
        ]
    },
    "intrs": {},
    "reference_model": {
        "logic_op": {
            "pre_port": [
                "op_in"
            ],
            "post_port": [
                "op_out"
            ]
        }
    },
    "reference_model_inst": {
        "logic_op": {
            "class_name": "logic_op",
            "inst_num": 1,
            "pre_agent_name": [
                [
                    "input"
                ]
            ],
            "post_agent_name": [
                [
                    "output"
                ]
            ]
        }
    },
    "sub_envs": {},
    "sub_envs_inst": {}
}